* text=auto

/tests              export-ignore
/.editorconfig      export-ignore
/.gitattributes     export-ignore
/.github            export-ignore
/.gitignore         export-ignore
.php-cs-fixer.*     export-ignore
/phpunit.xml.dist   export-ignore
