includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    level: 4
    paths:
        - src/
        - tests/
    inferPrivatePropertyTypeFromConstructor: true
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - "#^Call to an undefined static method #"
