name: Tests

on:
  push: ~

jobs:
  php-cs-fixer:
    runs-on: ubuntu-24.04
    env:
      PHP_CS_FIXER_IGNORE_ENV: 1
    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
      - run: composer install
      - name: php-cs-fixer
        run: vendor/bin/php-cs-fixer fix --dry-run --diff --show-progress=dots

  packages:
    runs-on: ubuntu-24.04
    needs: php-cs-fixer
    outputs:
      packages: ${{ steps.script.outputs.result }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/github-script@v7
        id: script
        with:
          script: |
            const fs = require('fs');

            const composer = JSON.parse(
              fs.readFileSync('./composer.json')
            );

            const packages = Object.keys(composer.autoload['psr-4']).map(
              (namespace) => {
                const path = composer.autoload['psr-4'][namespace];
                const name = JSON.parse(fs.readFileSync(path + 'composer.json')).name;

                return {
                  name: name,
                  path: './' + path,
                };
              }
            );

            console.log(packages);

            return packages;

  package:
    runs-on: ubuntu-24.04
    needs: packages
    strategy:
      matrix:
        php:
          - 8.2
          - 8.3
          - 8.4
        name:
          - knplabs/snappy
        path:
          - ./
        # include: ${{ fromJson(needs.packages.outputs.packages) }}
    defaults:
      run:
        working-directory: ${{ matrix.path }}
    env:
      PHP_VERSION: ${{ matrix.php }}
    steps:
      - uses: actions/checkout@v4
      - name: Docker build
        run: docker compose build php
      - name: Composer
        run: docker compose run --rm --workdir=/app/${{ matrix.path }} php composer update
      - name: PHPStan
        if: matrix.php != '8.2' # PHP 8.2 contains errors specific to this version, which no longer appear in later versions.
        run: docker compose run --rm --workdir=/app/${{ matrix.path }} php vendor/bin/phpstan analyse
      - name: PHPUnit
        run: docker compose run --rm --workdir=/app/${{ matrix.path }} php vendor/bin/phpunit
